<!DOCTYPE html>
<html>
    <head>
	    <title>Home</title>

    </head>

    <body>
	        <a href="/signup">Sign up</a><br>
		    <a href="/login">Login</a><br>
			<% if( type != null ) { %>
			
		    <input type="text">
		    <input type="button" value="search"><br>
			<% if( type == "admin" ) { %>
			<a href="/signup">Add User</a><br>
			<a href="/adminSignup">Add Admin</a><br>
			<a href="/deleteUser">Delete User</a><br>
		    <a href="/addProduct">Add Product</a><br>
			<a href="/deleteProduct">Delete Product</a><br>
			<a href="/deleteReview">Delete Review</a><br>
			<a href="/logout">Logout</a>
			<% } %>
			<% if( type == "user" ) { %>
			<a href="/cart">Cart</a><br>
			<a href="/buy">Bought</a><br>
			<a href="/logout">Logout</a>
		    <% } %>
			<% } %>
		
		<br><br><br>
		
		<p>PRODUCTS</p>
		<br>
		<% if( type == "user" ) { %>
		<fieldset>
		<a href="productCategory">Get Products by Category</a><br>
		</fieldset>
		<% } %>
		<br><br><br><br>
		
		<% for(var i=0; i < pList.length; i++){ %>
		    <img src="Images/computer.jpg" height="150" width="200">
			<h3>Category: <%= pList[i].category %></h3>
	    	<h3>Sub-Category: <%= pList[i].subcategory %></h3>
			<h3>Brand: <%= pList[i].brand %></h3>
			<% if( type != null ) { %>
			<h3>Review: <%= pList[i].review %></h3>
			<% } %>
	    	<h3>Price: <%= pList[i].cost %> Tk</h3>
			<% if( type == "user" ) { %>
			<a href="/addToCart/<%= pList[i].id %>">Add To Cart</a>
			<% } %>
			
			<br><br>
		
		<% } %>


    </body>

</html>